<ul class="sidebar-nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/books">All books</a></li>
    <li><a href="/catalog/authors">All authors</a></li>
    <li><a href="/catalog/genres">All genres</a></li>
    <li><a href="/catalog/bookinstances">All book-instances</a></li>
  </ul>
  